/* Fonts */

@font-face {
    font-family: 'Helvetica'; 
    src: url('https://cdn.obeygdbot.xyz/fonts/Helvetica.ttf'); 
}

@font-face {
    font-family: 'Pusab';
    src: url('https://cdn.obeygdbot.xyz/fonts/PUSAB.otf'); 
}

/* Body */

body {
    background-image: linear-gradient(#0065FD, #002E73);
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

/* Navbar */

.navbar {
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 18px;
    font-family: Pusab;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 30px;
}

.navbar-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    
}

.navbar-list li {
    padding: 0 15px;
    
}

.navbar-list li a {
    text-decoration: none;

    display: flex;
    align-items: center;
    transition: all 0.3s;
    color:#ffffff;
    -webkit-text-stroke: 0.5px black;
}

.navbar-list li a:hover {
    color: #44ddff;
    font-size: 19px;
}

.logo-nav img {
    max-width: 40px;
    height: auto;
}


/* Content Table */

.dashboard-options ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 15%;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    height: 100%;
    overflow:scroll;
    
}
 
/* Barra de desplazamiento */
.dashboard-options ul::-webkit-scrollbar {
    width: 10px;
}

.dashboard-options ul::-webkit-scrollbar-thumb {
    background-color: #ffffff; /* Color del fondo del pulgar */
    border-radius: 10px; /* Ajusta el radio para hacer el pulgar redondeado */
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5); /* Añade una sombra al pulgar */
    background-image: linear-gradient(45deg, transparent 15%, rgba(169, 169, 169, 0.8) 15%, rgba(169, 169, 169, 0.8) 25%, transparent 25%, transparent 35%, rgba(169, 169, 169, 0.8) 35%, rgba(169, 169, 169, 0.8) 45%, transparent 45%, transparent 55%, rgba(169, 169, 169, 0.8) 55%, rgba(169, 169, 169, 0.8) 65%, transparent 65%, transparent 75%, rgba(169, 169, 169, 0.8) 75%, rgba(169, 169, 169, 0.8) 85%, transparent 85%, transparent 100%); /* Añade rayas diagonales grises */
    transition: all 0.3s;
}


.dashboard-options ul::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.5); /* Color de la pista de la barra de desplazamiento */
}

.dashboard-options li.title-item{
    background-color: rgba(0, 0, 0, 0.5);
    align-content: center;
}

.dashboard-options li.title-item h5 {
    color: #ffffff;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex; /* Añadido para usar el modelo de caja flex */
    flex-direction: column; /* Apila los elementos en columna (uno encima del otro) */
    align-items: center; /* Alinea los elementos al centro verticalmente */
    text-align: center;
    font-size: 18px;
}

.dashboard-options li.item {
    color: #ffffff;
    padding-top: 5px;
    padding-bottom: 5px;
    position: relative;
    flex-direction: column; /* Apila los elementos en columna (uno encima del otro) */
    align-items: center; /* Alinea los elementos al centro verticalmente */
    text-align: center;
}

.dashboard-options li.item i.gdicon.locked {
    position: absolute; /* Añadida propiedad position: absolute; */
    top: 50%; /* Centra verticalmente */
    left: 50%; /* Centra horizontalmente */
    transform: translate(-50%, -50%); /* Centra el icono exactamente en el centro */
    pointer-events: none;
}

.dashboard-options li.item a {
    display: block;
    color: #ffffff;
    padding: 8px 16px;
    text-decoration: none;
    transition: all 0.3s;
}
  
.dashboard-options li.item a.item-blocked {
    color: rgb(96, 101, 114);
    
}

.dashboard-options li.item a.active {
    color: rgb(255, 128, 0);
}
  
.dashboard-options li.item a:hover:not(.active,.item-blocked) {
    color: #44ddff;
    font-size: 17px;
}


/* Custom icons */

i.gdicon {
    width: auto;
    height: 30px;
}

i.gdicon[class*="big"]{
    height: clamp(20px, 4vw, 40px);
}

i.gdicon[class*="small"]{
    height: clamp(12px, 2.1vw, 19px);
}

.gdicon.customize {
    content: url('../icons/customize.png');
}

.gdicon.security {
    content: url('../icons/security.png');
}

.gdicon.settings {
    content: url('../icons/settings.png');
}

.gdicon.locked {
    content: url('../icons/locked.png');
}

.gdicon.warning {
    content: url('../icons/warning.png');
}

.gdicon.songs {
    content: url('../icons/song.png');
}

.gdicon.time {
    content: url('../icons/time.png');
}

.gdicon.downloadSong {
    content: url('../icons/downloadSong.png');
}

.gdicon.playMusic {
    content: url('../icons/playMusic.png');
}

.gdicon.stopMusic {
    content: url('../icons/stopMusic.png');
}

.gdicon.report {
    content: url('../icons/report.png');
}

.gdicon.reuploadSong {
    content: url('../icons/reuploadSong.png');
}

/* Boxes */

div .dashboard-container {
    margin-left:15%;
    padding:1px 16px;
   
    
}

div .dashboard-container p {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 20px;
    color: white;
}

.dashboard-container.gdbox-brown {

    margin-left:16%;
    margin-right: 1%;
    
    

    /* z-index: -1; */
    border: 30px solid transparent;
    border-radius: 40px;
    background-color: #995533;
    /* text-align: center; */
    
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* position: relative; */
    /*
    transform: scale(0);
    animation: zoomIn 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55) both;
    */
    border-image: url("../icons/brownbox.png") 13% round;
    overflow:auto;
    
    
}



.gd-container {
    display: flex;
    height: 70vh;   
    overflow: hidden;
    /* overflow: hidden; */
}


.gdbox-content {
    flex: 1;
    overflow: auto;
    padding: 20px;
}

/* PAGE A1 */

#gdsub-left-a1 {
    
    /* margin-right: 30px; */
    overflow: hidden;
    margin-right: 5px;
    /* background-color: #ea03ff; */
}

#gdsub-right-a1 {
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 5px;
    margin-right: 2%;
    background-color: #36393e;
    border-radius: 15px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.9);
    overflow: auto;
}


/* Markdowns */

span.spoiler {
    background-color:black;
    color: black;
}
span.spoiler:hover {
    color: white;
    background-color: #484c52;
}