.toggle-btn {
    cursor: pointer;
    background-color: #f0f0f000;
    border: none;
    font-size: 2vh;
    display: flex;
    align-items: center;
    text-align: left;
    transform: translate(100%, -225%);
}
.toggle-btn span {
    margin-left: auto;
    transition: transform 0.3s ease;
}
.collapsed span {
    transform: rotate(180deg);
}

.content.hidden {
    display: none;
}