body {
    font-family: Arial, sans-serif;

    transition: background-color 0.3s, color 0.3s;
}

label {
    text-wrap: wrap;
}

body.light {
    background-color: #f9f9f9;
    color: #333;
}

fieldset {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
}


fieldset.light {
    border: 2px solid #444;
    background-color: #f9f9f9;
}

legend.light {
    color: #555;
}

input[type="text"].light, input[type="number"].light {
    border: 1px solid #797979;
}

input[type="submit"].light, button.light {
    background-color: #007bff;
    color: white;
}

button.light {
    background-color: #6c757d;
}

.error-message.light {
    color: #af0000;
}

.info.light {
    color: #007bff;
}

body.dark {
    background-color: #333;
    color: #f9f9f9;
}

fieldset.dark {
    border: 2px solid #666;
    background-color: #444;
}

legend.dark {
    color: #ddd;
}

input[type="text"].dark, input[type="number"].dark {
    border: 1px solid #666;
    background-color: #555;
    color: #f9f9f9;
}

input[type="submit"].dark, button.dark {
    background-color: #007bff;
    color: white;
}

button.dark {
    background-color: #6c757d;
}

.error-message.dark {
    color: #f00;
}

.info.dark {
    color: #0d6efd;
}

.toggle-btn {
    cursor: pointer;
    background-color: #f0f0f000;
    border: none;
    font-size: 2vh;
    display: flex;
    align-items: center;
    text-align: left;
    position: relative;
    bottom: 2.5vh;

}
.toggle-btn span {
    margin-left: auto;
    transition: transform 0.3s ease;
}
.collapsed span {
    transform: rotate(180deg);
}

.content.hidden {
    display: none;
}