@font-face {font-family: Pusab; src: url('../../assets/Pusab.ttf')}

body {
    font-family: Arial, sans-serif;

    transition: background-color 0.3s, color 0.3s;
}

label {
    text-wrap: wrap;
}

body.light {
    background-color: #f9f9f9;
    color: #333;
}

.bg.light {
    background-color: #f9f9f9;
    color: #333;
}

.bg.dark {
    background-color: #333;
    color: #f9f9f9;
}

button.radiusdesing.red-btn.dark, button.radiusdesing.red-btn.light {
    background-color: #f44336;
}

button.radiusdesing.green-btn.dark, button.radiusdesing.green-btn.light {
    background-color: #4CAF50;
}

button.radiusdesing.blue-btn.dark, button.radiusdesing.blue-btn.light {
    background-color: #4491b5;
}

div.modalTop {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

button.radiusdesing {
    border-radius: 5px;
    border: none;
    color: white;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
}

fieldset {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
}


fieldset.light {
    border: 2px solid #444;
    background-color: #f9f9f9;
}

legend.light {
    color: #555;
}

input[type="text"].light, input[type="number"].light,input[type="url"].light {
    border: 1px solid #797979;
}

input[type="submit"].light, button.light {
    background-color: #007bff;
    color: white;
}

button.light {
    background-color: #6c757d;
}

.error-message.light {
    color: #af0000;
}

.info.light {
    color: #007bff;
}

body.dark {
    background-color: #333;
    color: #f9f9f9;
}

fieldset.dark {
    border: 2px solid #666;
    background-color: #444;
}

legend.dark {
    color: #ddd;
}

input[type="text"].dark, input[type="number"].dark,input[type="url"].dark {
    border: 1px solid #666;
    background-color: #555;
    color: #f9f9f9;
}

input[type="submit"].dark, button.dark {
    background-color: #007bff;
    color: white;
}

button.dark {
    background-color: #6c757d;
}

.error-message.dark {
    color: #f00;
}

.info.dark {
    color: #0d6efd;
}

.toggle-btn {
    cursor: pointer;
    background-color: #f0f0f000;
    border: none;
    font-size: 2vh;
    display: flex;
    align-items: center;
    text-align: left;
    position: relative;
    bottom: 2.5vh;

}
.toggle-btn span {
    margin-left: auto;
    transition: transform 0.3s ease;
}
.collapsed span {
    transform: rotate(180deg);
}

.content.hidden {
    display: none;
}

.newcontentdiv {
    display: none;
    align-items: center;
    flex-direction: row;
    margin-bottom: 1em;
}

.newcontentdiv > img {
    width: 2em;
    height: 2em;
    margin-right: 0.5em;
}

.newcontentdiv > h4 {
    animation: textAnimationWhileSize 2s infinite;
}

.newcontentdiv > button.update.dark,button.update.light {
    margin-left: 1em;
    animation: buttonAnimationWhileSize 2s infinite;
}

@keyframes textAnimationWhileSize {
    0% {
        transform: scale(1); 
    }
    50% {
        transform: scale(1.1);
        color:rgb(255, 90, 117);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes buttonAnimationWhileSize {
    0% {
        transform: scale(1); 
    }
    50% {
        transform: scale(1.1);
        background-color: gold;
        color:rgb(0, 0, 0);
    }
    100% {
        transform: scale(1);
    }
}